/* Write your CSS here */
.bg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 40px;
}
.dark-mode {
  background-color: black;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: black;
}
.heading {
  font-size: 28px;
  font-weight: 500;
}
.button {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}
